{% extends 'base.html' %} 

{% block title %}{{ product.name }} - Hardware Store{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">{{ product.name }}</h2>
    <h4 class="card-subtitle mb-2 text-muted">Ksh{{ product.price }}</h4>
    <p class="card-text">{{ product.description }}</p>
    <div class="mt-4">
      <a href="{% url 'products:product_update' product.pk %}" class="btn btn-warning">Edit</a>
      <a href="{% url 'products:product_delete' product.pk %}" class="btn btn-danger">Delete</a>
      <a href="{% url 'products:list' %}" class="btn btn-secondary">Back to List</a>
      <a href="{% url 'products:product_detail' product.pk %}">View Details</a>

    </div>
  </div>
</div>
{% endblock %}
